# Data Science Tools and Ecosystem

In this noted book, Data Science Tools and Ecosystems are summarized.

Some of the popular languages that data Scientist us are:
1. Python
2. R
3. Julia
4. Java
5. Scala
6. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Python
    1. NumPy
    2. Scikit-learn
    3. PyTorch
    4. Pandas
2. R
    1. Dplyr
    2. Stringr
    3. GGplot
    4. caret
3. SQL
    1. Microsoft SQL Server
    2. SQLite
    3. PostgreSQL
    4. MySQL

|Data Science Tools|
|---|
|Git|
|TensorFlow|
|Ruby|
|docker|

### Below are a few examples of evaluating arithmetic expressions in python.

In [1]:
(3*4)+5

17

this will convert 200 minutes in to hours by diving by 60

In [5]:
sec =12000
sec_value = sec % (24 * 3600)
hour_value = sec_value // 3600
sec_value %= 3600
min_value = sec_value //60
sec_value %= 60
print("Converted sec value in hour:", hour_value)
print("converted sec value in minutes:",min_value)

Converted sec value in hour: 3
converted sec value in minutes: 20

**Objectives**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List commonly used tools for Data Science
- Show arithmetic expression in python
- Show table configuration

## Author
Keith E Goodwin